body {
    font-family: 'Cinzel', serif;
    margin: 0;
    padding: 0;
    background-color: #1C1C1C; 
    background-image: url('images/bgbg.jpg');
    color: #FFD700; 
}

header {
    background-position: center; 
    font-size: 2.5em;
    margin: 0;
    padding: 20px; 
    text-align: center;
    color: #FFD700; 
    text-shadow: 2px 2px 5px black; 
}

.dices {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 30px;
    gap: 150px;
}

.dices img {
    width: 200px;
    height: 200px;
    border: 3px solid #FFD700; 
    border-radius: 10px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px; 
    background-color: #8B0000; 
    border: 2px solid #FFD700;
    border-radius: 8px;
    font-size: 1.7em;
    color: white;
    cursor: pointer;
    margin: 50px auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #FF4500; 
}

#result {
    font-size: 1.7em;
    color: #FFFFFF; 
    text-align: center;
    text-shadow: 2px 2px 4px black;
    margin-bottom: 10px; 
}

#rollCount{
    font-size: 1.3em;
    color: #FFFFFF; 
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

